:host {
  display: block;
  height: 100%;
  padding-block: calc(var(--spacing) * 2);
  overflow-y: hidden;

  .data-grid-wrapper {
    display: flex;
    gap: calc(var(--spacing) * 2);
    flex-direction: column;
    height: 100%;
    padding-block: calc(var(--spacing) * 2);
    overflow: hidden;
  }

  .data-grid-container {
    flex-basis: 100%;
    flex-grow: 0;
    overflow: hidden;
    position: relative;

    [data-view='table'] & {
      background-color: oklch(from var(--color-base-200) l c h / 0.25);
    }
  }

}
