@if (editor) {
  <div class="editor-container" [class.mobile-layout]="isMobile()">
    <!-- Toolbar (Desktop/Mobile) -->
    <app-editor-toolbar
      [isMobile]="isMobile()"
      [image]="image()"
      (toggleBottomSheet)="toggleBottomSheet()"
      (selectImage)="selectImage($event)" />

    <div class="divider"></div>

    <div class="editor-content" (click)="focus()">
      <!-- Tiptap Editor -->
      <tiptap-editor [editor]="editor" [(ngModel)]="value" />
    </div>
  </div>

  <!-- Mobile Bottom Sheet -->
  <app-editor-bottom-sheet [(show)]="showBottomSheet" />

  <!-- Slash Command Suggestions -->
  <app-editor-slash-command [props]="slashCommandProps()" [isMobile]="isMobile()" />

  <!-- Link Input Popover -->
  <div
    popover
    id="link-input"
    #linkInputRef
    class="bg-base-100 rounded-md p-2 w-80 shadow-xl border border-base-200"
    style="position-anchor: --link-input-anchor; position-area: bottom span-right">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">링크 URL</legend>
      <div class="join">
        <input #urlInput type="url" class="input join-item input-sm w-full" placeholder="https://..." />
        <button
          type="button"
          class="btn btn-sm btn-primary join-item"
          (click)="insertLink(urlInput.value, linkInputRef)">
          적용
        </button>
      </div>
    </fieldset>
  </div>

  <datalist id="colors">
    <option>#f5f5f5</option>
    <option>#d4d4d4</option>
    <option>#737373</option>
    <option>#404040</option>
    <option>#171717</option>
    <option>#fca5a5</option>
    <option>#f87171</option>
    <option>#ef4444</option>
    <option>#dc2626</option>
    <option>#b91c1c</option>
    <option>#fdba74</option>
    <option>#fb923c</option>
    <option>#f97316</option>
    <option>#ea580c</option>
    <option>#c2410c</option>
    <option>#fde047</option>
    <option>#facc15</option>
    <option>#eab308</option>
    <option>#ca8a04</option>
    <option>#a16207</option>
    <option>#86efac</option>
    <option>#4ade80</option>
    <option>#22c55e</option>
    <option>#16a34a</option>
    <option>#15803d</option>
    <option>#7dd3fc</option>
    <option>#38bdf8</option>
    <option>#0ea5e9</option>
    <option>#0284c7</option>
    <option>#0369a1</option>
    <option>#93c5fd</option>
    <option>#60a5fa</option>
    <option>#3b82f6</option>
    <option>#2563eb</option>
    <option>#1d4ed8</option>
    <option>#d8b4fe</option>
    <option>#c084fc</option>
    <option>#a855f7</option>
    <option>#9333ea</option>
    <option>#7e22ce</option>
  </datalist>
}
