<section class="select-none flex flex-col h-full w-full rounded-box">
  <app-calendar-toolbar
    class="mb-3"
    [title]="currentTitle()"
    [currentView]="currentView()"
    [availableViews]="availableViews"
    (action)="onToolbarAction($event)"
  />

  <full-calendar
    class="border rounded-box border-base-content/10"
    #fullCalendar
    [events]="events()"
    [options]="calendarOptions"
  >
    <ng-template #eventContent let-arg>
      <app-calendar-event
        [event]="arg.event"
        [eventColor]="getEventColor(arg.event)"
        [showTime]="false"
      />
    </ng-template>

    <ng-template #listEventContent let-arg>
      <app-calendar-list-event
        [event]="arg.event"
        [eventColor]="getEventColor(arg.event)"
        [showDate]="true"
      />
    </ng-template>
  </full-calendar>
</section>
